.cvip-wa-titulo {
  text-align: center;
}

.cvip-wa-form {
  margin-top: 30px;
}

.cvip-wa-form select,
.cvip-wa-form input[type=text],
.cvip-wa-form input[type=number]
 {
  width: 100%; 
  margin: 0px 1%;
  height: 40px;
  border-radius: 25px;
  padding-left: 15px;
  border: solid 3px #00AAF3;
  margin-bottom: 10px;
}

.cvip-wa-form input[type=submit]{
  text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    display: block;
    border-radius: 25px;
    background-image: linear-gradient(to right, #00AAF3 , #00FFB1);
    font-weight: bold;
    color: white;
    border: none;
    transition: 0.5s all;
	padding: 10px 0px;
}
.cvip-wa-form input[type=submit]:hover {
  background-image: linear-gradient(to right, #00FFB1 , #00AAF3);
}

/* CONTENEDOR LINK */
.cvip-wa-ajax-resultado {
  margin-top: 20px;
  text-align: center;
}

.cvip-wa-ajax-resultado .cvip-wa-ajax-link {
  border-radius: 25px;
}

.cvip-wa-ajax-resultado .cvip-wa-ajax-link input {
  height: 40px;
  border-radius: 25px;
  padding-left: 15px;
  border: solid 3px #00AAF3;
}

.cvip-wa-ajax-resultado .cvip-wa-ajax-copy-link {
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(to right, #00AAF3 , #00FFB1);
  padding: 10px 0px;
}
.cvip-wa-ajax-resultado .cvip-wa-ajax-copy-link:hover {
  background-image: linear-gradient(to right, #00FFB1 , #00AAF3);
}

.cvip-wa-form input[type=submit]:focus,
.cvip-wa-ajax-resultado .cvip-wa-ajax-copy-link:focus
{
  border: none!important;
}
/* CONTENEDOR LINK */


@media screen and (max-width: 991px) {
  .cvip-wa-form {
    margin-top: 30px;
  }

  .cvip-wa-form select,
  .cvip-wa-form input[type=text],
  .cvip-wa-form input[type=number]
   {
    width: 100%!important;
    margin: 5px 0%;
    height: 50px;
  }

  .cvip-wa-form input[type=submit]{
    text-align: center;
      width: 100%;
      height: 50px;
  }

  /* CONTENEDOR LINK */
  .cvip-wa-ajax-resultado .cvip-wa-ajax-link input {
    height: 50px;
  }

  .cvip-wa-ajax-resultado .cvip-wa-ajax-copy-link {
    width: 100%;
  }
  /* CONTENEDOR LINK */
}
